/* Variabel root */
:root {
  --warna-bg: rgba(0, 0, 0, .3);
  --tombol-teks: #fff;
  --tombol-bingkai: #fff;
  --bingkai: 18px;
  --bingkai-kiri: 1.3px solid var(--tombol-bingkai);
  --bingkai-kanan: 1.3px solid var(--tombol-bingkai);
  --gaya-font: 'Nunito Sans', sans-serif;
  --gaya-font2: 'Sono', sans-serif;
  --gaya-font3: 'Nerko One', cursive;
}

/* Animasi */
@keyframes fanim {
  0% { background-position: 0% 0%; }
  25% { background-position: 100% 100%; }
  50% { background-position: 0% 100%; }
  75% { background-position: 50% 50%; }
  100% { background-position: 0% 0%; }
}

@keyframes jj {
  0% { transform: scale(1); }
  50% { transform: scale(1.3); }
  100% { transform: scale(1); }
}

@keyframes leaves {
  0% { transform: scale(1.0); }
  100% { transform: scale(.9); }
}

/* Seluruh body */
body {
  background-color: #000;
  font-family: var(--gaya-font);
  padding: 20px 25px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Link */
a {
  text-decoration: none;
}

/* Before body */
body::before {
  content: "";
  color: white;
  opacity: .05;
  font-size: 10px;
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 2;
}

/* Blur pada body */
#bodyblur {
  animation: jj 7s infinite;
  opacity: .25;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .3);
  transition: all 1s ease;
}

/* Wallpaper */
#wallpaper {
  width: 100%;
  height: 100%;
  transform: scale(2);
  transition: all 1.7s ease;
}

/* Blockquote */
blockquote {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transform: scale(.1);
  transition: all .7s ease;
  margin-left: 0;
  margin-right: 0;
  color: var(--tombol-teks);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, .8);
}

blockquote p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5em;
  transition: all .5s ease;
  margin-left: 50px;
  margin-right: 50px;
}
